<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin">
<body>
<div layout:fragment="content">

    <h3>New category</h3>

    <form th:object="${category}" method="POST">

        <div class="row">
            <div class="col-md-9">

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('name')} ? is-invalid" th:field="${category.name}" />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
                </div>



                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" th:classappend="${#fields.hasErrors('description')} ? is-invalid" th:field="${category.description}" rows="3"></textarea>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Error</div>
                </div>



                <div class="form-group">
                    <label>Parent</label>
                    <select class="form-control" th:field="${category.parent}">
                        <option value="0">-- Parent Category --</option>
                        <option th:each="category : ${cats}"
                                th:text="${category.name}"
                                th:value="${category.id}"
                        >1</option>

                    </select>
                </div>

            </div>
            <div class="col-md-3">






                <button type="submit" class="btn btn-success">Create</button>



            </div>
        </div>









    </form>





</div>
</body>
</html>