<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin">
<body>
<div id="page" layout:fragment="content">


    <h3>All articles</h3>

    <a href="/article/create">Create</a>


    <div class="alert alert-success" role="alert" th:if="${message != null}" th:text="${message}"></div>




    <table class="table datatable table-striped table-bordered">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Categories</th>
            <th>Status</th>
            <th>Updated At</th>
            <th>Created At</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${articles}">
            <td><a th:href="@{/article/edit(id=${article.id})}" th:text="${article.title}">...</a></td>
            <td th:text="${article.author.name}">...</td>
            <td>
        <span class="badge badge-primary" th:each="category : ${article.categories}" th:text="${category.name}"></span>
            </td>

            <td th:text="${article.status}">...</td>
            <td th:text="${article.updatedAt}">...</td>
            <td th:text="${article.createdAt}">...</td>
        </tr>
        </tbody>
    </table>




</div>
</body>
</html>